<nav id="nav__top" class="navbar is-fixed-top" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <% if (!is_current('/')) { %>
    <a href="/" class="navbar-item"> <img src="/images/white-header.png" /> </a>
    <% } %>
    <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>
  <div class="navbar-menu">
    <% for( const {title: menu_title, path: menu_path} of theme.menu ) { %>
    <a href="<%- url_for(menu_path)%>" class="navbar-link"><%= menu_title %> </a>
    <% } %>
    <div class="navbar-item has-dropdown is-hoverable">
      <a href="/archives" class="navbar-link">活動記録</a>
      <div class="navbar-dropdown">
        <% for(const category of site.categories.data) { %>
        <a href="/<%- category.path %> " class="navbar-item"> <%- category.name %> </a>
        <% } %>
      </div>
    </div>
  </div>
</nav>

<script>
  const navTopHamburger = document.querySelector(".navbar-burger");
  const navTopMenu = document.querySelector(".navbar-menu");
  navTopHamburger.addEventListener("click", () => {
    navTopHamburger.classList.toggle("is-active");
    navTopMenu.classList.toggle("is-active");
  });
</script>
