<div id="paginator" class="has-text-centered pagination-llist">
  <%-paginator({ prev_next: false, page_class: 'is-justify-content-center pagination-link', current_class: ' is-current' ,space_text: 'pagination-ellipsis'})%>
</div>
